:root {
  --white: #fff;
  --black: #0f0f0f;
  --font-base: #666;
  --font-dark: #212529;
  --font-light: #b0aebe;
  --bg: #EDE4E0;
  --bg-contrast: #EDDBC7;

  --5px: 0.313rem;
  --10px: 0.625rem;
  --12px: 0.75rem;
  --14px: 0.875rem;
  --15px: 0.938rem;
  --16px: 1rem;
  --18px: 1.125rem;
  --20px: 1.25rem;
  --30px: 1.875rem;
  --40px: 2.5rem;
  --50px: 3.125rem;
  --75px: 4.688rem;
  --100px: 6.25rem;
  --150px: 9.75rem;
}

section,
footer,
header,
main,
nav {
  display: block;
}

/* Makes it so that the page scrolls instead of skipping when using anchor tags to 
move to a different part of the page. */
html { scroll-behavior: smooth; }

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  /* This is set to make sure the browser doesn't change the line-spacing. */
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--font-color-base);
  margin: 0;
  padding: 0;
  text-align: left;
}

section,
footer,
header,
main,
nav {
  display: block;
  width: 100%;
  height: fit-content;
}

/* This makes all elements adjust their size to fit within their parent
element even when a border or padding is added. */
*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #495fef;
  background-color: transparent;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

hr {
  width: 100%;
  height: 1px;
  background-color: var(--font-base);
  border: none;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  color: white;
  cursor: pointer;
  /* The words can't be selected. */
  user-select: none;
  background-color: blue;
  /* Gives the button a clean edge. */
  border: 1px solid transparent;
  padding: var(--5px) var(--15px);
  border-radius: var(--30px);
  /* If a hover effect is added, this will create a smooth transition. */
  transition: ease-in-out 0.3s;
}

.flex-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
  align-content: center;
  width: 100%;
  max-width: 1000px;
}